//
// Layouts - Client Details
// ============================================================================

.client-details {
	margin-top: -($spacer);
}



// Rows and columns
// ----------------------------------------------------------------------------

.client-row {
	@include media-breakpoint-up(md) {
		display: flex;
		align-items: stretch;
	}
}

.client-col-main {

}

.client-col-aside {
	flex-shrink: 0;

	background-color: $grey-darkish;

	@include media-breakpoint-up(md) {
		width: 25rem;
		margin-left: $spacer;
		padding: ($spacer * 1.5) $spacer;
	}

	a {
		color: $white;
	}
}



// Jumbotron
// ----------------------------------------------------------------------------

.client-details .jumbotron {
	position: relative;

	@include media-breakpoint-up(md) {
		width: map-get($container-max-widths, md);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: ($spacer * 2);
		padding-left: 0;
		padding-right: 0;
	}

	@include media-breakpoint-up(lg) {
		width: map-get($container-max-widths, lg);
	}

	@include media-breakpoint-up(xl) {
		width: map-get($container-max-widths, xl);
	}

	// Image
	//
	.jumbotron-image {
		position: relative;

		height: 50vw;

		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: transparentize($brand-primary, .7);
			content: " ";
		}

		@include media-breakpoint-up(md) {
			height: 46rem;
		}
	}

	// Block
	//
	.jumbotron-block {
		padding: $spacer ($spacer * 2);

		@include media-breakpoint-up(sm) {
			width: map-get($container-max-widths, sm);
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
		}

		@include media-breakpoint-up(md) {
			position: absolute;
			left: $spacer;
			bottom: $spacer;

			width: 50%;
			padding: $spacer;

			background-color: transparentize($brand-primary, .5);
		}

		@include media-breakpoint-up(lg) {
			left: ($spacer * 2);
			bottom: ($spacer * 2);

			width: 37rem;
		}

		h1 {
			margin-bottom: 0;

			font-family: $font-family-alt;
			font-weight: 700;
			font-size: 2rem;
			letter-spacing: 1.2pt;
			text-transform: uppercase;

			@include media-breakpoint-up(md) {
				font-size: 2.5rem;
				letter-spacing: 1.5pt;
			}

			@include media-breakpoint-up(lg) {
				font-size: 3rem;
			}
		}

		p {
			margin-bottom: 0;
		}
	}
}



// Roles and Order
// ----------------------------------------------------------------------------

.client-roles {
	font-size: 1.2rem;

	@include media-breakpoint-up(md) {
		font-size: 1.4rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 1.6rem;
	}

	h3 {
		display: inline-block;
		width: 5rem;

		font-size: 1.2rem;
		font-weight: 700;
		vertical-align: baseline;

		@include media-breakpoint-up(md) {
			font-size: 1.4rem;
		}

		@include media-breakpoint-up(lg) {
			width: 6rem;

			font-size: 1.6rem;
		}
	}

	ul {
		display: inline-block;

		padding-left: 0;

		list-style: none;
		vertical-align: top;
	}
}



// Images
// ----------------------------------------------------------------------------

.client-images {
	@include media-breakpoint-up(sm) {
		width: map-get($container-max-widths, sm);
		margin-left: auto;
		margin-right: auto;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: wrap;

		width: 100%;
		margin: -($spacer / 2);
	}
}

.client-image {
	+ .client-image {
		margin-top: $spacer;

		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}

	@include media-breakpoint-up(md) {
		flex: 0 0 50%;

		padding: ($spacer / 2);
	}
}

.client-image .image {
	height: 40vw;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include media-breakpoint-up(md) {
		height: 20vw;
	}
}



// Other clients
// ----------------------------------------------------------------------------

.other-clients {
	display: none;

	margin-top: -($spacer * 1.5);

	font-size: 1.4rem;

	@include media-breakpoint-up(md) {
		display: block;
	}

	@include media-breakpoint-up(lg) {
		font-size: 1.6rem;
	}

	h4 {
		margin-bottom: 0;

		font-family: $font-family-alt;
		font-size: 1.4rem;
		font-weight: 700;
		letter-spacing: 1.68pt;
		text-transform: uppercase;

		@include media-breakpoint-up(lg) {
			font-size: 1.6rem;
		}
	}

	ul {
		padding-left: 0;
		margin-bottom: 0;

		list-style: none;
	}

	li {
		border-top: 1px solid $white;
	}

	a {
		display: block;

		padding-top: ($spacer * 1.5);
		padding-bottom: ($spacer * 1.5);
	}
}


// Specific clients

.client-details {
	&.client-masterchef-nz,
	&.client-new-zealand-s-got-talent {
		.jumbotron-image {
			background-position: top center;
		}
	}
}
