//
// Layouts - DIVA Release
// ============================================================================

.diva-release {
	time {
		display: block;
		margin-bottom: $spacer;

		color: $grey-light;
	}

	.all-notes {
		margin-top: ($spacer * 2);
		padding-top: $spacer;

		text-align: center;

		border-top: 1px solid transparentize($white, .8);
	}
}
