//
// Layouts - News Article
// ============================================================================

.news-article {
	h1 {
		font-size: 2.8rem;

		@include media-breakpoint-up(md) {
			font-size: 3.6rem;
		}

		@include media-breakpoint-up(lg) {
			font-size: 4.4rem;
		}
	}

	.date {
		display: block;
		margin-bottom: ($spacer / 2);

		color: $grey-light;
		font-size: 1.4rem;
	}

	.article-body {
		img {
			@include media-breakpoint-up(md) {
				float: right;
				max-width: 50%;
				max-height: 25vw;
				margin-left: $spacer;
				margin-bottom: $spacer;
			}
		}
	}

	.more {
		clear: both;
		padding-top: ($spacer * 4);
		padding-top: ($spacer * 4);

		text-align: center;

		border-top: 1px solid transparentize($white, .8);
	}
}
