//
// Layouts - News Article
// ============================================================================

.news-article {
	h1 {
		font-size: 2.8rem;
		text-align: center;

		@include media-breakpoint-up(md) {
			font-size: 3.6rem;
		}

		@include media-breakpoint-up(lg) {
			font-size: 4.4rem;
		}
	}

	.date {
		display: block;
		margin-bottom: ($spacer / 2);

		color: $grey-light;
		font-size: 1.4rem;
		text-align: center;
	}

	.article-body {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 75%;
		}
	}

	.more {
		padding-top: ($spacer * 4);
		padding-top: ($spacer * 4);

		text-align: center;

		border-top: 1px solid transparentize($white, .8);
	}
}
