//
// Layouts - News Archive
// ============================================================================

.news-archive {
	article {
		h4 {
			margin-bottom: 0;

			font-size: 2rem;
		}

		a {
			color: $white;
			text-decoration: none;
		}

		.date {
			color: $grey-light;
		}

		+ article {
			margin-top: $spacer;
			padding-top: $spacer;

			border-top: 1px solid transparentize($white, .8);
		}
	}
}
