//
// Layouts - DIVA Release
// ============================================================================

.diva-release {
	time {
		display: block;
		margin-bottom: $spacer;

		color: $grey-light;
	}
}
