//
// Core - Buttons
// ============================================================================

.btn {
	display: inline-block;
	padding-left: (1rem / 1.6);
	padding-right: (1rem / 1.6);
	height: (1.7rem / 1.6);

	color: $white;
	font-family: $font-family-alt;
	font-size: (.5rem / 1.6);
	line-height: (1.4rem / 1.6);
	text-transform: uppercase;

	border: 1px solid $white;
	border-radius: $border-radius-sm;
	transition: background-color .2s, color .2s;

	@include media-breakpoint-up(sm) {
		padding-left: (1.5rem / 1.6);
		padding-right: (1.5rem / 1.6);

		font-size: (.7rem / 1.6);
	}

	@include media-breakpoint-up(md) {
		padding-left: (2rem / 1.6);
		padding-right: (2rem / 1.6);
		height: (2.2rem / 1.6);

		font-size: (.9rem / 1.6);
		line-height: (2rem / 1.6);
	}

	@include media-breakpoint-up(lg) {
		height: (3.3rem / 1.6);

		font-size: (1.4rem / 1.6);
		line-height: (3rem / 1.6);
	}

	&:hover {
		text-decoration: none;

		background-color: $white;
	}
}
