//
// Components - Cards
// ============================================================================



// Image
// ----------------------------------------------------------------------------

.card > img {
	max-width: 100%;
}



// Block
// ----------------------------------------------------------------------------

.card-block {
	padding: $spacer ($spacer / 2);

	background-color: $brand-primary;

	p {
		margin-bottom: 0;
	}
}




// Title
// ----------------------------------------------------------------------------

.card-title {
	font-size: 10pt;
	font-weight: 700;
	letter-spacing: 1.05pt;
	line-height: 13pt;
	text-transform: uppercase;

	@include media-breakpoint-up(sm) {
		font-size: 20pt;
		letter-spacing: 1.86pt;
		line-height: 26pt;
	}

	@include media-breakpoint-up(md) {
		font-size: 23pt;
		letter-spacing: 1.67pt;
		line-height: 28pt;
	}

	@include media-breakpoint-up(lg) {
		font-size: 25pt;
		letter-spacing: 1.22pt;
		line-height: 31pt;
	}
}



// Text
// ----------------------------------------------------------------------------

.card-text {
	font-family: $font-family-alt;
	font-size: 8pt;
	letter-spacing: 1.05;
	line-height: 11pt;

	@include media-breakpoint-up(sm) {
		font-size: 10pt;
		letter-spacing: normal;
		line-height: 14pt;
	}

	@include media-breakpoint-up(md) {
		font-size: 12pt;
		line-height: 19pt;
	}

	@include media-breakpoint-up(lg) {
		font-size: 18pt;
		line-height: 19pt;
	}
}
