//
// Components - Cards
// ============================================================================



// Card
// ----------------------------------------------------------------------------

.card {
	position: relative;
	margin-bottom: $spacer;
}



// Image
// ----------------------------------------------------------------------------

.card-img {
	position: relative;
	height: (16rem / 1.6);

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include media-breakpoint-up(sm) {
		//height: (20rem / 1.6);
	}

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: transparentize($brand-primary, .7);
		content: " ";
	}
}



// Block
// ----------------------------------------------------------------------------

.card-block {
	position: relative;

	padding-top: $spacer;
	padding-bottom: $spacer;
	padding-left: ($spacer / 2);
	padding-right: ($spacer / 2);

	background-color: $brand-primary;

	p {
		margin-bottom: 0;
	}

	.btn {
		position: absolute;
		right: ($spacer / 2);
		top: ($spacer * 1.5);
	}
}

// With button
//
.card-with-button .card-block {
	padding-right: ($spacer * 6);
}

// Colour variations
//
.card-light .card-block {
	background-color: $brand-light;
}

.card-dark .card-block {
	background-color: $brand-dark;
}




// Title
// ----------------------------------------------------------------------------

.card-title {
	font-size: 10pt;
	font-weight: 700;
	letter-spacing: 1.05pt;
	line-height: 13pt;
	text-transform: uppercase;

	@include media-breakpoint-up(sm) {
		font-size: 20pt;
		letter-spacing: 1.86pt;
		line-height: 26pt;
	}

	@include media-breakpoint-up(md) {
		font-size: 23pt;
		letter-spacing: 1.67pt;
		line-height: 28pt;
	}

	@include media-breakpoint-up(lg) {
		font-size: 25pt;
		letter-spacing: 1.22pt;
		line-height: 31pt;
	}
}



// Text
// ----------------------------------------------------------------------------

.card-text {
	font-family: $font-family-alt;
	font-size: 8pt;
	letter-spacing: 1.05;
	line-height: 11pt;

	@include media-breakpoint-up(sm) {
		font-size: 10pt;
		letter-spacing: normal;
		line-height: 14pt;
	}

	@include media-breakpoint-up(md) {
		font-size: 12pt;
		line-height: 19pt;
	}

	@include media-breakpoint-up(lg) {
		font-size: 18pt;
		line-height: 19pt;
	}
}
