//
// Components - Footer
// ============================================================================

.footer {
	padding-top: $spacer;
	padding-bottom: $spacer;

	color: $grey-light;
	font-family: $footer-font-family;
	text-align: center;

	a {
		color: $grey-light;

		transition: color .2s;

		&:hover {
			color: darken($grey-light, 10%);
			text-decoration: none;
		}
	}

	p {
		margin-bottom: ($spacer / 2);

		font-size: .8rem;
		letter-spacing: 0.33pt;

		&:last-child {
			margin-top: $spacer;
		}

		@include media-breakpoint-up(md) {
			font-size: .9rem;
		}

		@include media-breakpoint-up(lg) {
			font-size: 1.1rem;
		}

		@include media-breakpoint-up(xl) {
			font-size: 1.4rem;
			letter-spacing: .4pt;
			line-height: 1.7;
		}
	}

	.fa-circle {
		position: relative;
		bottom: .2rem;

		margin-left: ($spacer / 2);
		margin-right: ($spacer / 2);
		padding-bottom: .2rem;

		font-size: .3rem;

		@include media-breakpoint-up(lg) {
			bottom: .3rem;

			font-size: .4rem;
		}
	}
}



// Footer menu
// ----------------------------------------------------------------------------

.footer-menu {
	font-size: 1.2rem;
	letter-spacing: 0.39pt;

	@include media-breakpoint-up(xl) {
		font-size: 1.8rem;
		letter-spacing: .4pt;
	}

	li {
		@include media-breakpoint-up(lg) {
			display: inline-block;
		}
	}

	a {
		display: block;
		padding: ($spacer / 2) $spacer;
	}
}



// Footer social links
// ----------------------------------------------------------------------------

.footer-social {
	margin-top: ($spacer / 2);
	margin-bottom: ($spacer / 2);

	@include media-breakpoint-up(lg) {
		margin-bottom: $spacer;
	}

	li {
		display: inline-block;
	}

	a {
		display: block;
		padding: ($spacer / 2);

		font-size: 3rem;
	}
}



// Call to help
// ----------------------------------------------------------------------------

.call-to-help {
	padding: $spacer;

	color: $brand-light;
	font-size: 1.4rem;
	letter-spacing: 0.76pt;
	text-align: center;

	background-color: $white;

	@include media-breakpoint-up(lg) {
		padding: ($spacer * 1.5);

		font-size: 1.6rem;
	}

	@include media-breakpoint-up(xl) {
		padding: ($spacer * 2);

		font-size: 2.4rem;
	}

	a {
		color: $brand-light;
		transition: color .2s;

		&:hover {
			color: darken($brand-light, 10%);
			text-decoration: none;
		}
	}
}
