//
// Components - Footer
// ============================================================================

.footer {
	padding-top: $spacer;
	padding-bottom: $spacer;

	color: $grey-light;
	font-family: $footer-font-family;
	font-weight: 400;
	text-align: center;

	a {
		color: $grey-light;

		transition: color .2s;

		&:hover {
			color: darken($grey-light, 10%);
			text-decoration: none;
		}
	}

	p {
    margin-bottom: $spacer;

    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
    }
	}
}



// Footer menu
// ----------------------------------------------------------------------------

.footer-menu {
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-around;
  }
}



// Footer social links
// ----------------------------------------------------------------------------

.footer-social {
	margin-top: $spacer;
  margin-bottom: $spacer;

  flex-wrap: wrap;
  justify-content: center;

	@include media-breakpoint-up(lg) {
		margin-bottom: $spacer;
	}

	a {
		display: block;
    padding-left: ($spacer / 2);
    padding-right: ($spacer / 2);

		font-size: 3rem;
	}
}


// Copyright and stuff
// ----------------------------------------------------------------------------

.footer-copyright {
  span {
    display: block;
  }
}



// Call to help
// ----------------------------------------------------------------------------

.call-to-help {
	@extend .txt-lg;

	padding: $spacer ($spacer * 2);

	color: $brand-light;
	font-family: $font-family-alt;
	text-align: center;

	background-color: $white;

	@include media-breakpoint-up(lg) {
		padding: ($spacer * 1.5);
	}

	@include media-breakpoint-up(xl) {
		padding: ($spacer * 2);
	}

	a {
		color: $brand-light;
		transition: color .2s;

		&:hover {
			color: darken($brand-light, 10%);
			text-decoration: none;
		}
	}
}
