//
// Components - Navbar
// ============================================================================

.navbar-nav {
  margin-top: $spacer;

  font-family: $font-family-alt;
  font-size: 1rem;
  letter-spacing: .56pt;
  text-transform: uppercase;
  text-align: left;

  background-color: #4AABD7;
  border-radius: $border-radius-lg;

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
    letter-spacing: 0.58pt;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.8rem;
    letter-spacing: 0.6pt;
  }

  a {
    display: block;

    padding: ($spacer / 2) $spacer;
  }

  .nav {
    @include media-breakpoint-up(md) {
      display: block;
      float: right;

      li {
        float: left;

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.nav-toggle {
  @include media-breakpoint-up(md) {
    display: none !important;
  }

  i {
    padding-top: .2rem;

    float: right;
  }
}

.navbar-brand {
  @include media-breakpoint-up(md) {
    float: left;
  }
}
