//
// Components - Navbar
// ============================================================================

.navbar-collapse {
  background-color: transparentize($white, .8);
  border-radius: $border-radius-lg;

  @include media-breakpoint-up(sm) {
    background: none;
    border-radius: 0;
  }
}

.navbar-brand {
  img {
    max-width: none;
  }
}

.navbar-toggler {
  top: $spacer;
}

.navbar-expand-lg .navbar-nav {
  @include media-breakpoint-up(sm) {
    width: 100%;

    justify-content: flex-end;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $white;
    }
  }
}
