//
// Components - Navbar
// ============================================================================

.navbar-nav {
  margin-top: $spacer;

  font-family: $font-family-alt;
  text-transform: uppercase;
  text-align: left;

  background-color: transparentize($white, .8);
  border-radius: $border-radius-lg;

  @include media-breakpoint-up(md) {
    height: 3.5rem;

    background-color: transparent;
  }

  a {
    display: block;

    padding: ($spacer / 2) $spacer;

    //color: transparentize($white, .3);

    &:hover {
      color: $white;

      text-decoration: none;
    }
  }

  .nav {
    @include media-breakpoint-up(md) {
      display: block;
      float: right;

      li {
        float: left;

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.nav-toggle {
  @include media-breakpoint-up(md) {
    display: none !important;
  }

  i {
    padding-top: .3rem;

    float: right;
  }
}

.navbar-brand {
  @include media-breakpoint-up(md) {
    float: left;
  }
}
