//
// Core CSS - Reboot
// ============================================================================

body {
	font-weight: 300;

	overflow-x: hidden;

	@include media-breakpoint-up(md) {
		font-size: 1.6rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 1.8rem;
	}
}


img {
	max-width: 100%;
}
