//
// Core CSS - Typography
// ============================================================================



// Headings
// ----------------------------------------------------------------------------

h1 {
	font-size: 2rem;
}

h4 {
	font-size: 1.4rem;
}



// Misc
// ----------------------------------------------------------------------------

.lead {
	font-size: 1.6rem;
}
