//
// Core CSS - Typography
// ============================================================================



// Headings
// ----------------------------------------------------------------------------



// Misc
// ----------------------------------------------------------------------------

.lead {
	font-size: 1.6rem;

	@include media-breakpoint-up(md) {
		font-size: 1.8rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 2rem;
	}
}
