//
// Variables
// ============================================================================



// Options
// ----------------------------------------------------------------------------




// Colors
// ----------------------------------------------------------------------------

$black:                       #000;
$white:                       #fff;

$grey-dark:                   #222222;  // Page background
$grey-light:                  #b0b0b0;  // Footer text
$grey-lighter:                #dee2e3;  // Footer background

$brand-primary:               #0088cc;
$brand-light:									#79cdef;
$brand-dark:									#1080bb;

$brand-gradient-dark:         $brand-dark;
$brand-gradient-light:        $brand-light;

$spacer:                      1.6rem;



// Body
// ----------------------------------------------------------------------------

$body-bg:                     $grey-lighter; // Use the footer color
$body-color:                  $white;



// Typography
// ----------------------------------------------------------------------------

$font-family-sans-serif:      "jaf-facitweb",sans-serif;
$font-family-alt:             "tenso",sans-serif;

$footer-font-family:					$font-family-sans-serif;

$font-size-root:              10px;

$font-size-base:              1.4rem;



// Grid breakpoints
// ----------------------------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 992px,
  lg: 1400px,
  xl: 2000px
);

$container-max-widths: (
  sm: 48rem,
  md: 76.8rem,
  lg: 99.2rem,
  xl: 114rem
);
