<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {{ page.title }} - {{ site.description }} - end to end television, post production and broadcast facility solutions
    </title>
    {% if page.metaDesc %}
      <meta name="description" content="{{ page.metaDesc }}">
    {% else %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="application-name" content="Group 6 Technologies"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@group6tech">
    <meta name="twitter:title" property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="Group 6 Technologies">
    <meta property="og:url" content="http://www.group6.co.nz/{{ page.url }}">

    {% if page.socialDesc %}
      <meta name="twitter:description"
            property="og:description"
            content="{{ page.socialDesc }}">
    {% elsif page.metaDesc %}
      <meta name="twitter:description"
            property="og:description"
            content="{{ page.metaDesc }}">
    {% else %}
      <meta name="twitter:description"
            property="og:description"
            content="{{ page.excerpt | strip_html }}">
    {% endif %}

    {% if page.socialImage %}
      <meta name="twitter:image"
            property="og:image"
            content="http://www.group6.co.nz/images/{{ page.socialImage }}">
    {% else %}
      <meta name="twitter:image"
            property="og:image"
            content="http://www.group6.co.nz/images/logos/group6.png">
    {% endif %}

    <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">

    <link rel="alternate"
          type="application/rss+xml"
          title="DIVA Release News"
          href="{{ site.url }}/rss/diva.xml">
    <link rel="alternate"
          type="application/rss+xml"
          title="Group 6 Technology News"
          href="{{ site.url }}/rss/news.xml">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet"
          href="/_bower_components/blueimp-gallery/css/blueimp-gallery.css">
    <!-- endbuild -->
    <!-- endbuild -->

    {% include groovehq.html %}
  </head>
  <body class="{{ page.bodyClass }}">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
