<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ page.title }} - {{ site.description }} - end to end television, post production and broadcast facility solutions
    </title>
    {% if page.metaDesc %}
      <meta name="description" content="{{ page.metaDesc }}">
    {% else %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% endif %}

    <meta name="application-name" content="Group 6 Technologies"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@group6tech">
    <meta name="twitter:title" property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="Group 6 Technologies">
    <meta property="og:url" content="http://www.group6.co.nz/{{ page.url }}">

    {% if page.socialDesc %}
      <meta name="twitter:description"
            property="og:description"
            content="{{ page.socialDesc }}">
    {% elsif page.metaDesc %}
      <meta name="twitter:description"
            property="og:description"
            content="{{ page.metaDesc }}">
    {% else %}
      <meta name="twitter:description"
            property="og:description"
            content="{{ page.excerpt | strip_html }}">
    {% endif %}

    {% if page.socialImage %}
      <meta name="twitter:image"
            property="og:image"
            content="http://www.group6.co.nz/images/{{ page.socialImage }}">
    {% else %}
      <meta name="twitter:image"
            property="og:image"
            content="http://www.group6.co.nz/images/logos/group6.png">
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#0088cc">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#0088cc">

    <link rel="alternate"
          type="application/rss+xml"
          title="DIVA Release News"
          href="{{ site.url }}/rss/diva.xml">
    <link rel="alternate"
          type="application/rss+xml"
          title="Group 6 Technology News"
          href="{{ site.url }}/rss/news.xml">

    <!-- build:css({app,.tmp}) /styles/main.css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bower_components/object-fit/dist/polyfill.object-fit.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
    <!-- endbuild -->
  </head>
  <body class="{{ page.bodyClass }}">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    <div class="content-wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
