---
layout: base
bodyClass: inner no-page-header
---

<div class="client-details">

	<div class="jumbotron">
		<div class="jumbotron-image" data-src="/images/clients/{{ page.banner }}"></div>
		<div class="container jumbotron-block">
			<h1>{{ page.title }}</h1>
			<p>{{ page.tagLine }}</p>
		</div>
	</div>

	<div class="container">
		<div class="client-roles">
			<div>
				<h3>Client:</h3>
				<a href="{{ page.clientUrl }}" target="_blank">{{ page.client }}</a>
			</div>

			{% if page.roles %}
				<div>
					<h3>Role:</h3>
					<ul>
						{% for role in page.roles %}
							<li>{{ role }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% if page.order %}
				<div>
					<h3>Order:</h3>
					<ul>
						{% for order in page.order %}
							<li>{{ order }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>

		{{ content }}
	</div>

	{% if page.images %}
		<div class="client-images">
			{% for image in page.images %}
				<img src="/images/clients/{{ image.image }}.jpg" alt="{{ image.title }}">
			{% endfor %}
		</div>
	{% endif %}
</div>
