---
layout: base
bodyClass: inner no-page-header
---

<div class="client-details client-{{ page.title | slugify }}">

	<div class="jumbotron">
		<div class="jumbotron-image" data-src="/images/clients/{{ page.banner }}-full.jpg"></div>
		<div class="jumbotron-block">
			<h1>{{ page.title }}</h1>
			<p>{{ page.tagLine }}</p>
		</div>
	</div>

	<div class="container">
		<div class="client-row">
			<div class="client-col-main">
				<div class="client-roles">
					<div>
						<h3>Client:</h3>
						<a href="{{ page.clientUrl }}" target="_blank">{{ page.client }}</a>
					</div>

					{% if page.roles %}
						<div>
							<h3>Role:</h3>
							<ul>
								{% for role in page.roles %}
									<li>{{ role }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					{% if page.order %}
						<div>
							<h3>Order:</h3>
							<ul>
								{% for order in page.order %}
									<li>{{ order }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>

				{{ content }}

				{% if page.images %}
					<div class="client-images">
						{% for image in page.images %}
							<div class="client-image">
								<div class="image" data-src="/images/clients/{{ image.image }}.jpg" alt="{{ image.title }}"></div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="client-col-aside">
				<div class="other-clients">
					<h4><a href="/clients/">Other Clients</a></h4>
					<ul>
						{% assign clientNo = 1 %}
			      {% for page in site.pages reversed %}
			        {% if clientNo <= 4 and page.category == 'client' and page.article != false %}
								<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			        {% endif %}
			      {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
