---
layout: base
bodyClass: inner no-page-header
---

<div class="container content news-article">
	<article itemscope itemtype="http://schema.org/NewsArticle">
		<h1 itemprop="name">{{ page.title }}</h1>
		<p class="date">
			Posted
			<time itemprop="dateCreated">{{ page.date | date_to_long_string}}</time>
		</p>
		<div class="article-body" itemprop="articleBody">
			{{ content }}
		</div>

		{% include gallery.html %}
	</article>

	<div class="more">
		<a class="btn" href="/news/archive.html">More articles</a>
	</div>
</div>
