---
title: DIVA
layout: base
bodyClass: diva
category: diva
metaDesc: "DIVA is a media server designed and built for editors to streamline, store, share and simplify your Avid Media Composer environment."
socialDesc: "Spend more time editing, less time setting up, and collaborate on projects with ease. DIVA is a media server designed and built for editors to streamline, store, share and simplify your Avid Media Composer environment."
socialImage: logos/diva.png
hidePageHeader: true
headerIncludes:
- diva-jumbotron.html
---

<div class="container">
	<div id="intro" class="detail">
		<section>
			<img class="background" src="/images/diva/volume-pool.png" alt="DIVA Volume Pool">
			<p>Spend more time editing, less time setting up, and collaborate on projects with ease.</p>
			<p>DIVA is a media server designed and built for editors to streamline, store, share and simplify your Avid Media Composer environment.</p>
		</section>
	</div>

	<div id="why" class="detail">
		<section>
			<img class="background" src="/images/diva/client-drives.png" alt="DIVA Client">
			<h2>Why DIVA is right for you</h2>
			<ul>
				<li>Allows multiple users to work simultaneously across multiple servers and drives</li>
				<li>Improves workflow with an environment optimised for editors</li>
				<li>Scalability is limited only by network speed and connectivity</li>
				<li>Favourites can be setup to access projects with a click and get cutting</li>
				<li>Customisable configuration of storage drives</li>
				<li>Comprehensive affordable backups to protect your work</li>
				<li>24/7 international remote support</li>
			</ul>
		</section>
	</div>

	<div id="tech" class="detail">
		<section>
			<h2>Technical Specifications</h2>

			<div class="row">
				<div class="col-md-6 sub-detail">
					<h3>DIVA Server</h3>
					<p class="lead">Central management server</p>
					<dl>
						<dt>Form Factor</dt>
						<dd>1RU Chassis</dd>
						<dt>Power</dt>
						<dd>Dual redundant power supplies</dd>
						<dt>Operating System</dt>
						<dd>Microsoft Windows Server 2012 R2</dd>
						<dt>Database</dt>
						<dd>Microsoft SQL Server Express 2014</dd>
						<dt>Networking</dt>
						<dd>1Gb Ethernet</dd>
						<dt>Storage</dt>
						<dd>RAID 1 SSD</dd>
					<dl>
				</div>

				<div class="col-md-6 sub-detail">
					<h3>DIVA Node</h3>
					<p class="lead">Storage Server</p>
					<dl>
						<dt>Form Factor</dt>
						<dd>24bay 4RU Chassis</dd>
						<dt>Power</dt>
						<dd>Triple redundant power supplies</dd>
						<dt>Operating System</dt>
						<dd>Microsoft Windows Server 2012 R2</dd>
						<dt>Networking</dt>
						<dd>10Gb Ethernet</dd>
						<dt>RAID Controller</dt>
						<dd>LSI MegaRAID 9361-4i</dd>
					</dl>
				</div>
			</div>

			<div class="sub-detail">
				<h3>Supported Applications</h3>
				<div class="row text-center">
					<div class="col-md-3">
						<img src="/images/diva/avid.png" alt="Avid Media Composer" width="128" height="128">
						<p>Avid Media Composer 7 or later.</p>
					</div>
					<div class="col-md-3">
						<img src="/images/diva/resolve12.png" alt="Davinci Resolve" width="128" height="128">
						<p>Davinci Resolve 11 or later.</p>
					</div>
				</div>
			</div>

			<div class="sub-detail">
				<h3>Operating Systems</h3>
				<div class="row text-center">
					<div class="col-md-3">
						<img src="/images/diva/windows.png" alt="Microsoft Windows" width="128" height="128">
						<p>Microsoft Windows 7 or later.</p>
					</div>
					<div class="col-md-3">
						<img src="/images/diva/osx.png" alt="Apple Mac OS X" width="128" height="128">
						<p>OS X 10.9 - OS X 10.11</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div id="release-notes" class="detail">
		<section>
			<h2><a href="/diva/releases.html">Release Notes</a></h2>

			{% for release in site.categories['diva'] limit: 1 %}
				<article itemscope itemtype="http://schema.org/Article">
					<h4>
						<a href="{{ release.url }}" itemprop="url"><span itemprop="headline">DIVA v{{ release.version }}</span></a>
					</h4>
					<time itemprop="dateCreated">{{ release.date | date_to_long_string}}</time>
					<div itemprop="articleBody">
						{{ release.content | truncatewords:75 }}
					</div>
				</article>
			{% endfor %}
		</section>
	</div>

	<div id="subscribe" class="detail">
		{% include diva-subscribe.html %}
	</div>

</div>
