---
title: DIVA
layout: base
bodyClass: diva
category: diva
metaDesc: "DIVA is a media server designed and built for editors to streamline, store, share and simplify your Avid Media Composer environment."
socialDesc: "Spend more time editing, less time setting up, and collaborate on projects with ease. DIVA is a media server designed and built for editors to streamline, store, share and simplify your Avid Media Composer environment."
socialImage: logos/diva.png
hidePageHeader: true
headerIncludes:
- diva-jumbotron.html
---

<div class="container">
	<div id="intro" class="detail">
		<section>
			<img class="background" src="/images/diva/volume-pool.png" alt="DIVA Volume Pool">
			<p>Spend more time editing, less time setting up, and collaborate on projects with ease.</p>
			<p>DIVA is a media server designed and built for editors to streamline, store, share and simplify your Avid Media Composer environment.</p>
		</section>
	</div>

	<div id="why" class="detail">
		<section>
			<img class="background" src="/images/diva/client-drives.png" alt="DIVA Client">
			<h2>Why DIVA is right for you</h2>
			<ul>
				<li>Avid NEXIS compatible bin locking</li>
				<li>Allows multiple users to work simultaneously across multiple servers and drives</li>
				<li>Improves workflow with an environment optimised for editors</li>
				<li>Protect your bins from other editors making changes</li>
				<li>Scalability is limited only by network speed and connectivity</li>
				<li>Favourites can be setup to access projects with a click and get cutting</li>
				<li>Customisable configuration of storage drives</li>
				<li>Comprehensive affordable backups to protect your work</li>
				<li>24/7 international remote support</li>
			</ul>
		</section>
  </div>

  <div id="backup" class="detail">
    <div class="row align-items-center">

      <div class="col-md-6">
        <h2>Integrated Cloud Backup</h2>

        <p class="lead">Your work is important. You're busy. Let us handle the backup.</p>
      </div>

      <div class="col-md-6">
        <p>Never worry about the integrity of your project files again.</p>
        <p>We've partnered with <a href="https://www.backblaze.com/" target="_new">Backblaze</a> to ensure all those bins are safely, and securely, stored in the cloud.</p>
        <p>Finger trouble deleted the wrong file? Want to get back that cut from yesterday? Easily restore a single bin or an entire project.</p>

        <div class="row">
          <div class="col-sm-10">
            <a href="https://www.backblaze.com/" target="_new"><img src="/images/logos/backblaze.svg" alt="Backblaze" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="performance" class="detail">
    <section>
      <h2>Performance</h2>

      <p class="lead">She might not look like much but she's got it where it counts, kid.</p>

      <p>We like to make sure you can get the job done. That's why when we performance test, we only show you the lower end of what you can expect.</p>

      <p>
        The following benchmarks were set on a 12 disk RAID50 configuration.
        Since it's easy to get higher numbers with empty disks, we fill the RAID to 95% capacity before we start any testing.
      </p>

      <div class="row align-items-center mb-2">
        <div class="col-8 col-md-4 col-lg-3"><strong>Codec</strong></div>
        <div class="col-4 col-md-2 col-lg-1"><strong>Streams</strong></div>
        <div class="col-md-6 col-lg-8 d-none d-md-block"><strong>Performance</strong></div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-8 col-md-4 col-lg-3">XDCam HD 1080i @ 50</div>
        <div class="col-4 col-md-2 col-lg-1">65</div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-8 col-md-4 col-lg-3">DNxHR LB 1080p @ 25</div>
        <div class="col-4 col-md-2 col-lg-1">46</div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-8 col-md-4 col-lg-3">DNxHR HQ 1080p @ 25</div>
        <div class="col-4 col-md-2 col-lg-1">35</div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-8 col-md-4 col-lg-3">DNxHR LB 4k @ 25</div>
        <div class="col-4 col-md-2 col-lg-1">28</div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-8 col-md-4 col-lg-3">DNxHR HQ 4k @ 25</div>
        <div class="col-4 col-md-2 col-lg-1">5</div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 7%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

    </section>
  </div>

	<div id="tech" class="detail">
		<section>
			<h2>Technical Specifications</h2>

			<div class="row">
				<div class="col-md-6 sub-detail">
					<h3>DIVA Server</h3>
					<p class="lead">Central management server</p>
					<dl>
						<dt>Form Factor</dt>
						<dd>1RU Chassis</dd>
						<dt>Power</dt>
						<dd>Titanium level redundant power supplies</dd>
						<dt>Operating System</dt>
						<dd>Microsoft Windows Server 2016</dd>
						<dt>Database</dt>
						<dd>Microsoft SQL Server Express 2016</dd>
						<dt>Networking</dt>
						<dd>1Gb Ethernet</dd>
						<dt>Storage</dt>
						<dd>RAID 1 SSD</dd>
					<dl>
				</div>

				<div class="col-md-6 sub-detail">
					<h3>DIVA Node</h3>
					<p class="lead">Storage Server</p>
					<dl>
						<dt>Form Factor</dt>
						<dd>Supermicro X11 24bay 4RU Chassis</dd>
						<dt>Power</dt>
						<dd>Titanium level redundant power supplies</dd>
						<dt>Operating System</dt>
						<dd>Microsoft Windows Server 2016</dd>
						<dt>Networking</dt>
						<dd>Dual 10Gb Ethernet</dd>
						<dt>RAID Controller</dt>
						<dd>Broadcom SAS3 3008</dd>
						<dt>Management</dt>
						<dd>Full remote management over ethernet</dd>
					</dl>
				</div>
			</div>

			<div class="sub-detail">
				<h3>Supported Applications</h3>
				<div class="row text-center">
					<div class="col-md-3">
						<img src="/images/diva/avid.png" alt="Avid Media Composer" width="128" height="128">
						<p>Avid Media Composer 2018.1 or later.</p>
					</div>
					<div class="col-md-3">
						<img src="/images/diva/resolve12.png" alt="Davinci Resolve" width="128" height="128">
						<p>DaVinci Resolve 12 or later.</p>
					</div>
				</div>
			</div>

			<div class="sub-detail">
				<h3>Operating Systems</h3>
				<div class="row text-center">
					<div class="col-md-3">
						<img src="/images/diva/windows.svg" alt="Microsoft Windows" width="128" height="128">
						<p>Microsoft Windows 10 1709 or later.</p>
					</div>
					<div class="col-md-3">
						<img src="/images/diva/macos.svg" alt="Apple Mac OS" width="128" height="128">
						<p>macOS 10.12 - macOS 10.13</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div id="release-notes" class="detail">
		<section>
			<h2>Help and Documentation</h2>

			Full DIVA help and documentation is available at <a href="https://help.group6.co.nz/">help.group6.co.nz</a>.
		</section>
	</div>

	<div id="release-notes" class="detail">
		<section>
			<h2><a href="/diva/releases.html">Release Notes</a></h2>

			{% for release in site.categories['diva'] limit: 1 %}
				<article itemscope itemtype="http://schema.org/Article">
					<h4>
						<a href="{{ release.url }}" itemprop="url"><span itemprop="headline">DIVA v{{ release.version }}</span></a>
					</h4>
					<time itemprop="dateCreated">{{ release.date | date_to_long_string}}</time>
					<div itemprop="articleBody">
						{{ release.content | strip_html | truncatewords:70 }}
					</div>
				</article>
			{% endfor %}
		</section>
	</div>

	<div id="subscribe" class="detail">
		{% include diva-subscribe.html %}
	</div>

</div>
