---
title: DIVA Release Notes
layout: base
bodyClass: diva-release-list
metaDesc: "DIVA version and release notes. Subscribe via email or RSS."
socialImage: logos/diva.png
---

<div class="container">
	{% for post in site.categories['diva'] %}
		<article itemscope itemtype="http://schema.org/Article">
			<h3>
				<a href="{{ post.url }}" itemprop="url"><span itemprop="headline">DIVA v{{ post.version }}</span></a>
			</h3>
			<time itemprop="dateCreated">{{ post.date | date_to_long_string }}</time>
			<p itemprop="description">{{ post.excerpt | strip_html }}</p>
			<a href="{{ post.url }}" class="btn">Full release notes</a>
		</article>
	{% endfor %}

	{% include diva-subscribe.html %}
</div>
