//
// Clients
// ============================================================================

.client-details {
	h3 {
		margin-top: 0;
	}
}

.client-logo {
	display: block;
	margin-bottom: 20px;
	text-align: center;

	@media only screen and (min-width: $screen-sm) {
		float: left;
		max-width: 200px;
		margin-right: 20px;
	}
}

.client-images {
	img {
		margin-bottom: $padding-large-vertical;
	}
}

.packery {
	.item {
		position: relative;
		width: 48%;
		box-sizing: border-box;

		.details {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 10px;

			padding: $padding-base-vertical $padding-base-horizontal;

			background-color: rgba(0,0,0,0.3);
			text-align: center;

			@media only screen and (min-width: $screen-sm) {
				top: 0;
				bottom: 0;

				padding: $padding-large-vertical $padding-large-horizontal;

				background-color: rgba(0,0,0,0.8);
				opacity: 0;
				transition: opacity 0.3s linear;

				&:hover {
					opacity: 1;
				}
			}
		}

		h2 {
			margin-top: 0;
			margin-bottom: 0;

			font-size: 16px;

			@media only screen and (min-width: $screen-sm) {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid #fff;
				font-size: 30px;
			}
		}

		span {
			color: #fff;
		}

		@media only screen and (min-width: $screen-sm) {
			width: 355px;
		}

		@media only screen and (min-width: $screen-md) {
			width: 305px;
		}

		@media only screen and (min-width: $screen-lg) {
			width: 373px;
		}
	}
}
