//
// Clients
// ============================================================================

.client-details {
	h3 {
		margin-top: 0;
	}
}

.client-logo {
	display: block;
	margin-bottom: 20px;
	text-align: center;

	@media only screen and (min-width: $screen-sm) {
		float: left;
		max-width: 200px;
		margin-right: 20px;
	}
}

.packery {
	.item {
		width: 48%;
		box-sizing: border-box;

		@media only screen and (min-width: $screen-sm) {
			width: 355px;
		}

		@media only screen and (min-width: $screen-md) {
			width: 305px;
		}

		@media only screen and (min-width: $screen-lg) {
			width: 373px;
		}
	}
}
