//
// DIVA
// ============================================================================

.diva {
	.jumbotron {
		.container {
			position: relative;

			h1 {
				@media only screen and (min-width: $screen-sm) {
					display: none;
				}
			}

			p {
				margin-bottom: 10px;
				font-size: 20px;

				@media only screen and (min-width: $screen-sm) {
					font-size: 30px;
				}
			}

			.sprites-diva-media-manangement {
				display: none;

				@media only screen and (min-width: $screen-sm) {
					display: block;
					margin-bottom: $padding-large-vertical;
				}
			}

			.sprites-diva {
				display: none;

				@media only screen and (min-width: $screen-sm) {
					display: block;
					position: absolute;
					right: 5%;
					top: 0;
				}
			}
		}
	}

	.tech-specs {
		h3 {
			margin-top: 0;
		}
	}
}

.diva-release {
	.jumbotron {
		.sprites-diva-small {
			display: none;

			@media only screen and (min-width: $screen-sm) {
				display: block;
				position: absolute;
				right: 5%;
				top: 0;
			}
		}
	}
}

form.diva {
	@extend .well;

	margin-top: ($padding-large-vertical * 2);

	h4 {
		margin-top: 0;
	}

	input[type="email"] {
		width: 300px;
	}
}
