//
// Flickr Gallery
// ============================================================================

#flickr-gallery-loading {
    padding: 20px 0;
    text-align: center;
    text-transform: lowercase;
}

#flickr-gallery {
  margin-left: -5px;
  margin-right: -5px;

  .item {
    padding: 0 5px 10px;
    width: 50%;

    @media (min-width: $screen-sm-min) {
      width: 25%;
    }
  }
}
