//
// Index
// ============================================================================

.index {
  .intro,
  .diva,
  .services,
  .clients {
    text-align: center;
  }

  .jumbotron {
    .container {
      position: relative;

      h1, p {
        z-index: 1000;
      }

      h1 {
        margin-right: 80px;
      }

      p {
        margin-right: 100px;
      }

      .sprites-group6logo-small {
        display: block;
        position: absolute;
        right: 0;
        top: -15px;
        z-index: 500;

        @media only screen and (min-width: $screen-sm) {
          display: none;
        }
      }

      .sprites-group6logo {
        display: none;

        @media only screen and (min-width: $screen-sm) {
          display: block;
          position: absolute;
          right: 0;
          top: -25px;
        }

        @media only screen and (min-width: $screen-md) {
          right: 30px;
          top: -45px;
        }

        @media only screen and (min-width: $screen-lg) {
          right: 100px;
        }
      }
    }
  }

  .intro {
    p {
      @extend .lead;
    }
  }

  .clients {
    img {
      margin-bottom: $padding-large-vertical;
    }
  }
}
