//
// Inner
// ============================================================================

.inner {
	.jumbotron {
		.container {
			position: relative;

			.sprites-group6logo-smaller {
				position: absolute;
				right: 5%;
				top: -10px;

				@media only screen and (min-width: $screen-sm) {
					display: none;
				}
			}

			.sprites-group6logo-small {
				display: none;

				@media only screen and (min-width: $screen-sm) {
					display: block;
					position: absolute;
					right: 5%;
					top: -25px;
				}
			}
		}
	}
}



// Company
// Services
// ----------------------------------------------------------------------------

.content.company,
.content.services {
	.lead {
		color: white;
		text-align: center;
	}
}
