//
// Scaffolding
// ============================================================================

body {
  padding-top: 20px;

  background-image: url(../images/template/noisy_net.png);
  background-repeat: repeat;

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      background-image: url(../images/template/noisy_net_@2X.png);
      background-size: 200px 200px;
  }
}

hr {
  height: 1px;
  border: 0;

  background-image: linear-gradient(left, rgba(0,0,0,0), transparentize($brand-primary, 0.5), rgba(0,0,0,0));
}
