//
// Group 6 Technologies Stylesheet
// ============================================================================



// Variables
// ----------------------------------------------------------------------------

$body-bg:                #222;
$text-color:             #999;

$brand-primary:          #08c;
$blue-light:             #97e4fe;
$blue-dark:              #0073b2;

$font-size-base:         16px;

$headings-font-weight:   200;
$headings-color:         #fff;

$navbar-inverse-bg:      #111;



// Fonts
// ----------------------------------------------------------------------------

@font-face {
  font-family: BellGothic;
  src: url("../fonts/BellGothicStd-Bold.otf") format("opentype");
}



// Imports
// ----------------------------------------------------------------------------

@import '../_bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import '../_bower_components/font-awesome/scss/font-awesome.scss';
@import 'mixins/retina';
@import 'sprites';
@import 'scaffolding';
@import 'nav';
@import 'jumbotron';
@import 'footer';
@import 'index';
