.DS_Store*
app/_bower_components
dist
node_modules
.gh-pages/
.jekyll/
.sass-cache/
.tmp/
app/fonts/FontAwesome.otf
app/fonts/fontawesome-webfont.eot
app/fonts/fontawesome-webfont.svg
app/fonts/fontawesome-webfont.ttf
app/fonts/fontawesome-webfont.woff
_site/
