---
title: Clients
layout: default
metaDesc: "Our clients - built with Group 6 Technologies."
---

<div class="client-list">

	{% assign client_pages = (site.pages | sort:'displayOrder' | where: "category", "client") %}
	{% for page in client_pages reversed %}
		<div class="card {% if page.article %}card-hero card-img-{{ page.cardImageSide }}{% endif %} client-{{ page.title | slugify }}">
			<div class="card-inner">
				<div class="card-img">
					{% img_srcset /images/content/clients/{{ page.banner }}.jpg, {{ page.title }}, 100-100-100-50-45 %}
				</div>
				<div class="card-block">
					<h4 class="card-title">{{ page.title }}</h4>
					<p class="card-text">{{ page.tagLine }}</p>
					{% if page.article %}
					<a class="btn" href="{{ page.url }}">More details</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}

</div>
