//
// Header
// ========================================================

#templateHeader {
	background-color: $brand-primary;
}

.headerContent {
	padding-top: $body-padding;
	padding-right: 0;
	padding-bottom: $body-padding;
	padding-left: 0;

	color: #fff;
	font-family: $font-family-base;
	font-size: 32px;
	font-weight: normal;
	line-height: 100%;
	text-align: left;
	vertical-align: middle;

	a:link,
	a:visited,
	a .yshortcuts {
		color: $link-color;
		font-weight: normal;;
		text-decoration: underline;
	}

	img {
		height: auto;
		max-width: $email-width;
	}
}


// Responsive
// --------------------------------------------------------

@media only screen and (max-width: $screen-sm) {
	.headerContent {
		img {
			height: auto !important;
			max-width: $screen-sm !important;
			width: 100% !important;
		}
	}
}
