<div class="call-to-help">
  Need help? Email us at <a href="mailto:support@group6.co.nz">support@group6.co.nz</a>
</div>

<footer class="footer">
  <div class="container">

    <ul class="nav footer-menu">
      <li>
        <a href="/diva/">DIVA</a>
      </li>
      <li>
        <a href="/services/">Services</a>
      </li>
      <li>
        <a href="/clients/">Clients</a>
      </li>
      <li>
        <a href="/news/">News</a>
      </li>
      <li>
        <a href="/company/">Company</a>
      </li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
    </ul>

    <ul class="nav footer-social">
      <li>
        <a href="https://www.facebook.com/group6technologies" title="Facebook" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="http://www.twitter.com/group6tech" title="Twitter" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/group6tech/" title="Instagram" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCOVmJgJcsUe8VNZ4HDz_lSw" title="YouTube" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://www.flickr.com/photos/group6tech/" title="Flickr" target="_blank">
          <i class="fa fa-flickr"></i>
        </a>
      </li>
      <li>
        <a href="http://www.github.com/group6tech" title="GitHub" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>

    <p class="footer-copyright">
      Copyright &copy; {{ site.time | date: '%Y' }}
      <i class="fa fa-circle"></i>
      Group 6 Technologies
      <i class="fa fa-circle"></i>
      All Rights Reserved
    </p>

    <p>Made in New Zealand</p>

    <p>Design by <a href="http://theapartment.co/" target="_blank">The Apartment</a></p>
  </div>
</footer>
