<div class="call-to-help">
  Need help? Email us at <a href="mailto:support@group6.co.nz">support@group6.co.nz</a>
</div>

<footer class="footer">
  <div class="container">

    <ul class="nav footer-menu">
      <li>
        <a href="/diva/">DIVA</a>
      </li>
      <li>
        <a href="/services/">Services</a>
      </li>
      <li>
        <a href="/clients/">Clients</a>
      </li>
      <li>
        <a href="/news/">News</a>
      </li>
      <li>
        <a href="/company/">Company</a>
      </li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
    </ul>

    <ul class="nav footer-social">
      <li>
        <a href="https://forums.group6.co.nz/" title="Forums" target="_blank" rel=”noopener”>
          <i class="fab fa-discourse"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/group6technologies" title="Facebook" target="_blank" rel=”noopener”>
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="http://www.twitter.com/group6tech" title="Twitter" target="_blank" rel=”noopener”>
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/group6tech/" title="Instagram" target="_blank" rel=”noopener”>
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCOVmJgJcsUe8VNZ4HDz_lSw" title="YouTube" target="_blank" rel=”noopener”>
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://www.flickr.com/photos/group6tech/" title="Flickr" target="_blank rel=”noopener”">
          <i class="fab fa-flickr"></i>
        </a>
      </li>
      <li>
        <a href="http://www.github.com/group6tech" title="GitHub" target="_blank" rel=”noopener”>
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>

    <p class="footer-copyright">
      <span>Copyright &copy; {{ site.time | date: '%Y' }}</span>
      <span>Group 6 Technologies</span>
      <span>All Rights Reserved</span>
    </p>

    <p>Made in New Zealand</p>

    <p>Design by <a href="http://theapartment.co/" target="_blank" rel=”noopener”>The Apartment</a></p>
  </div>
</footer>
