<div class="jumbotron">
  <img src="/images/logos/group6tech.svg" alt="Group 6 Technologies"/>
  <h1 class="sr-only" itemprop="name">Group 6 Technologies</h1>
  <p>As of 17th September, 2021, Group 6 Technologies is no longer operating.</p>
  <p>In 2009 we decided we could do shared post production storage better, and have been doing so since.</p>
  <p>Unfortunately that journey has come to and end. All DIVA servers will continue to work, but we will no longer be developing the software, or providing support. The help documentation remains online at <a href="https://help.group6.co.nz">help.group6.co.nz</a>.</p>
  <p>We thank all our customers for their support over the years, and we celebrate the wonderful content you've created with DIVA as the backbone of your post production environment.</p>
  <p>Thanks,<br/>James & Matt</p>
</div>
