<!-- build:js({app,.}) /scripts/plugins.js -->
<script src="/scripts/modernizr-custom.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/js/dist/util.js"></script>
<script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="/bower_components/lazysizes/lazysizes.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<!-- endbuild -->

<!-- build:js({app,.tmp}) /scripts/main.js -->
<script src="/scripts/object-fit.js"></script>
<script src="/scripts/flickr.js"></script>
<!-- endbuild -->

{% for script in page.scripts %}
	<script src="/scripts/{{ script }}"></script>
{% endfor %}
