<!-- build:js({app,.}) /scripts/plugins.js -->
<script src="/scripts/modernizr-custom.js"></script>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/js/dist/util.js"></script>
<script src="/node_modules/bootstrap/js/dist/collapse.js"></script>
<script src="/node_modules/lazysizes/lazysizes.js"></script>
<script src="/node_modules/magnific-popup/dist/jquery.magnific-popup.js"></script>
<!-- endbuild -->

<!-- build:js({app,.tmp}) /scripts/main.js -->
<script src="/scripts/object-fit.js"></script>
<script src="/scripts/flickr.js"></script>
<!-- endbuild -->

{% for script in page.scripts %}
	<script src="/scripts/{{ script }}"></script>
{% endfor %}

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
